<html>
  <body id="get">
    <form action="http://localhost:3000/build">
      <fieldset>
        <legend>Enter a Github username and we will gladly pirate you a copy of thier repository page</legend>
        <p><label for="name">User_Name:</label>
        <input name= "name" type= "text"></p>
        <p><input type="submit" value="Plunder Away!" /></p>
      </fieldset>
    </form>
  </body>
<html>
